@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.685);
}

.style-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.style-link:hover::after {
  width: 100%;
  left: 0;
}

h1.title-section {
  font-weight: 500;
  transition: font-weight 0.4s;
}

h1.title-section:hover {
  font-weight: 100;
  font-style: italic;
}

h1.title-section::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s;
  width: 0;
}

h1.title-section:hover::after {
  font-weight: 100;
  width: 100%;
  left: 0;
}
