@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

::selection {
  color: #000;
  background-color: rgba(255, 255, 255, 0.685);
}

.style-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.style-link:hover::after {
  width: 100%;
  left: 0;
}

h1.title-section {
  font-weight: 500;
  transition: font-weight 0.4s;
}

h1.title-section:hover {
  font-weight: 100;
  font-style: italic;
}

h1.title-section::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s;
  width: 0;
}

h1.title-section:hover::after {
  font-weight: 100;
  width: 100%;
  left: 0;
}

.hightlight-text:hover {
  background-image: linear-gradient(
    0deg,
    #0072ff,
    #00d2e8 17%,
    #04fd8f 34%,
    #70fd6c 51%,
    #dae11e 68%,
    #ff9346 85%,
    #ff62c6
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
  }
  20% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  60% {
    filter: hue-rotate(270deg);
  }
  80% {
    filter: hue-rotate(260deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
